.table {
    margin: 0px;
    padding: 10px;
    width: 100%;
    position: relative;
    font-size: 14px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
}

th {
    font-size: 14px;
    background-color: #dbdbd9;
}

tr:nth-child(even) {
    background-color: #e9e9e7;
}

tr:hover {
      background-color: #796AEE;
}

td {
    padding: 90px;
}
